@page "/experience"
@using MBPortfolio.Data
@inject ExperienceService experienceService



@if (experiences == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ui style="list-style-type:none;">
        @foreach (var experience in experiences)
        {
            <li class="m-1 font-weight-bold" >@experience.JobTitle</li>
            <p>
                <i>@experience.CompanyName</i>
                <i>@experience.DateFrom.ToString("yyyy MMM") - @(experience.DateTo.HasValue? experience.DateTo.Value.ToString("yyyy MMM"): "Present")</i>
                <ui style="list-style-type:square;">
                    @foreach (var duty in experience.Duties)
                    {
                        <li>@duty</li>
                    }
                </ui>

            </p>
        }
    </ui>
}


@code {
    private List<MBPortfolio.Data.Experience> experiences;

    protected override async Task OnInitializedAsync()
    {
        experiences = await experienceService.GetExperiences();
    }
}
