@page "/softskills"
@using MBPortfolio.Data
@inject SoftskillService softskillsService


<h2 class="font-weight-light border-bottom">SOFT SKILLS</h2>

@if (softskills == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex">
        <MatCard class="demo-mat-card">
            @foreach (var softskill in softskills)
            {
                <div class="m-2">
                    <MatCardContent>
                        @*<MatCardMedia Wide="true" ImageUrl="https://www.cloudsavvyit.com/p/uploads/2020/08/b476fc9b.png?width=1198&trim=1,1&bg-color=000&pad=1,1">*@
                        @*<MatCardMedia Wide="true" ImageUrl="@hardskill.ImageLink" >

                            </MatCardMedia>*@
                        <MatCard>
                            <MatCardContent>

                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        <img src="@softskill.ImageLink" /> @softskill.SkillName
                                        @*<MatProgressBar Class="bg-success" Progress="@hardskill.Percentage" />*@
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        @softskill.Details
                                    </MatSubtitle2>
                                </div>
                                @*<MatProgressBar Class="bg-success" Progress="@hardskill.Percentage" />*@
                                @*<MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                        Visit ten places on our planet that are undergoing the biggest changes today.
                                    </MatBody2>*@


                            </MatCardContent>
                        </MatCard>
                    </MatCardContent>
                </div>
            }
        </MatCard>
    </div>

}


@*<div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>*@




@code {
    private List<MBPortfolio.Data.Skill> softskills;

    protected override async Task OnInitializedAsync()
    {
        softskills = await softskillsService.GetSoftskills();
    }
}
